<a href="https://colab.research.google.com/github/JRSmiffy/recommendationSystem/blob/master/eCommerce.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Import the Modules

In [0]:
import pandas as pd
import random
import tensorflow as tf

## Load the Data

In [0]:
url = 'https://raw.githubusercontent.com/JRSmiffy/recommendationSystem/master/seed240.csv'
seed = pd.read_csv(url)

In [0]:
seed.head() # The first line (1,1,1,0,0,0,0,0,0) is missing; although the repetition should solve this...

   1  1.1  1.2  0  0.1  0.2  0.3  0.4  0.5
0  0    0    0  1    1    1    0    0    0
1  0    0    0  0    0    0    1    1    1
2  1    0    0  1    0    0    1    0    0
3  0    1    0  0    1    0    0    1    0
4  0    0    1  0    0    1    0    0    1

In [0]:
seed.tail()

     1  1.1  1.2  0  0.1  0.2  0.3  0.4  0.5
202  0    0    0  0    1    0    0    1    0
203  0    1    0  0    0    0    0    1    0
204  0    0    1  0    0    1    0    0    0
205  0    0    0  0    0    1    0    0    1
206  0    0    1  0    0    0    0    0    1

In [0]:
rowOne = seed.loc[ 0 , : ]
print(rowOne)

print('\n\n')

itemOneRowOne = seed.iloc[0, 0]
print(itemOneRowOne)

1      0
1.1    0
1.2    0
0      1
0.1    1
0.2    1
0.3    0
0.4    0
0.5    0
Name: 0, dtype: int64



0

Add some noise to the data

### 1 - apply random normal to number of changed items per row.
### 2 - apply random normal to items amount changes

In [0]:
# For each row in seed:
# Create arr[] st length is RN(0,3)/randint(0,2)
# Populate this arr[] with RN(0,3) items from row

for i in range(206):
  num_items = random.randint(0,2)
  items_to_change = []
  for j in range(num_items):
    items_to_change.append(random.randint(0,8))
  # Remove duplicates
  items_to_change = list(dict.fromkeys(items_to_change))
  #print(items_to_change)
  
  
  # for each item in arr[]:
  # Calculate a random number between (-1,2)
  # Take purchase amount and add this random number
  # If this number < 0, number = 0
  
  for k in range(num_items-1):
    num_purchases = random.randint(-1,2)
    seed.iloc[i,items_to_change[k]] = abs(seed.iloc[i,items_to_change[k]] + num_purchases)
    
    
    
  #print(seed.loc[ i , : ])

In [0]:
seed # Let's try this data set

     1  1.1  1.2  0  0.1  0.2  0.3  0.4  0.5
0    0    0    0  1    1    1    0    0    0
1    0    0    0  0    0    0    1    1    1
2    1    0    0  1    0    0    1    0    0
3    0    1    0  0    1    2    0    1    0
4    0    0    1  0    0    1    0    0    1
5    1    1    0  0    0    0    0    0    0
6    0    1    1  0    0    0    0    0    0
7    1    0    1  0    0    0    2    0    0
8    1    0    0  1    1    0    0    0    0
9    0    0    0  0    1    1    0    0    0
10   0    0    0  1    0    1    0    0    0
11   0    0    0  0    0    0    1    1    1
12   0    0    0  0    0    0    0    1    1
13   0    0    0  0    0    0    1    0    1
14   1    0    0  1    0    0    0    0    0
15   0    0    0  1    0    0    1    0    0
16   1    0    0  0    0    0    1    1    0
17   2    0    0  1    0    0    0    0    0
18   0    0    0  0    1    0    0    1    0
19   0    1    0  0    0    0    0    1    0
20   0    0    1  0    0    1    0    0    0
21   0    0    0  0    0    1    0    0    1
22   0    0    1  0    0    0    0    0    1
23   0    1    0  1    1    1    0    0    0
24   0    0    0  0    0    0    1    1    1
25   1    0    0  1    1    0    1    0    0
26   0    1    0  0    1    0    0    1    0
27   0    0    1  0    0    1    0    0    1
28   1    1    0  0    0    0    0    0    0
29   0    1    1  0    0    0    0    0    0
..  ..  ...  ... ..  ...  ...  ...  ...  ...
177  1    0    0  0    0    0    1    0    0
178  1    0    0  1    0    0    0    0    0
179  0    0    0  0    1    0    0    1    0
180  0    1    0  0    0    2    0    1    0
181  0    0    1  0    0    1    0    0    1
182  0    0    0  0    0    1    0    0    1
183  0    0    1  0    0    1    0    0    1
184  0    0    0  1    1    1    0    0    0
185  0    0    0  0    0    0    1    1    1
186  1    2    0  1    0    0    1    0    0
187  0    1    0  2    1    0    0    1    0
188  0    0    1  0    0    1    0    0    1
189  1    1    0  0    0    0    0    0    0
190  0    1    1  0    0    0    0    0    0
191  1    0    1  0    0    0    0    0    0
192  0    0    0  1    1    0    0    0    0
193  0    0    0  0    0    1    0    0    0
194  0    0    0  1    0    3    0    0    0
195  0    0    0  0    0    0    1    1    0
196  0    0    0  0    0    0    0    1    1
197  0    0    0  0    0    0    1    0    1
198  1    0    0  1    0    0    0    0    0
199  0    0    0  1    0    0    1    0    0
200  1    0    0  1    0    0    1    0    0
201  1    0    0  1    0    0    0    0    0
202  0    0    0  0    1    0    0    1    0
203  1    1    0  0    0    0    0    1    0
204  0    0    1  0    0    1    0    0    0
205  0    0    0  0    0    1    0    0    1
206  0    0    1  0    0    0    0    0    1

[207 rows x 9 columns]

In [0]:
seed = seed.sample(frac=1) # Randomize rows

## Statistics Bruh

In [0]:
# find me the 3 most related products to item[0]

# create empty array
# create a temp df with item[0] col set to zero 
# for each row in temp df, append number of purchases for each item
# return the 3 highest sums/products that occur most with item[0]


def find_related(x, seed):
  
  track = [0,0,0,0,0,0,0,0,0]
  
  
  for i in range(206):
    if seed.iloc[i,x] != 0: # Only focus on rows that have item[0] in them, ignore rows where item[:,0] = 0
      seed.iloc[i,x] = 0
      for j in range(8):
        track[j] += seed.iloc[i,j]

  print(track)

  print("The first most related item to " + str(x) + " is " + str(track.index(max(track))))

  track[track.index((max(track)))] = 0
  print("The second most related item to " + str(x) + " is " + str(track.index(max(track))))

  track[track.index((max(track)))] = 0
  print("The third most related item to " + str(x) + " is " + str(track.index(max(track))))

In [0]:
find_related(6, seed)


# Extend this to input as many items as you like (x < 9) and return the 3 most related items across the whole basket
### Calculate for each and return the 3 highest weights across all items (**args)

[25, 6, 4, 22, 6, 2, 0, 26, 0]
The first most related item to 6 is 7
The second most related item to 6 is 0
The third most related item to 6 is 3